API_BASE_URL=http://127.0.0.1

JWT_SECRET_KEY=change-this-in-production
INTERNAL_TOKEN=internal-secret-token-change-in-production

OWNER_ID=
OWNER_LOGIN=Owner
OWNER_PASSWORD=

BOT_TOKEN=
TELEGRAM_BOT_USERNAME=

YOOKASSA_SHOP_ID=
YOOKASSA_API_TOKEN=

CDEK_ACCOUNT=
CDEK_SECRET=
CDEK_API_BASE_URL=https://api.edu.cdek.ru/v2
CDEK_PUBLIC_AS_MANUAL_ADDRESS=false
CDEK_ADD_INSURANCE_TO_ORDERS=1

STORE_KP_LITE=1
ORDER_CHECKOUT_DISABLED=false
